
* {
  padding: 1.5px;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("https://lp-cms-production.imgix.net/2021-05/shutterstockRF_1563449509.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850");
background: ;
}

.App {
  text-align: center;
}
.App {
  width: 100%;
  height: 100%;
  }
  .App .container {
    border: 1px solid #dedede;
    padding: 15px;
    box-shadow: 0 0 8px #e7e7e7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    margin: 0 auto;
    width: 525px;
    height: auto;
    overflow: hidden;
    perspective: 100%;
    max-width: 720px;
    }
  
  header {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  padding: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  header div {
    font-size: 15px;
  width: 324px;
  text-align: center;
  margin: 0 auto;
  }
  footer {
  width: 360px;
  position: relative;
  margin: 0 auto;
  padding: 10px 4px;
  margin-top: 10px;
  }
  
  footer .score {
  justify-content: center;
  display: flex;
  }
  
  footer .score div {
  padding: 8px;
  }
  footer .restart {
  display: flex;
  justify-content: center;
  }